
* {
    box-sizing: border-box;
}
body{
    margin: auto;    
}
header{
    padding:0;
    margin: 0;
    background-color: white;
    position: sticky;
    top: 20px;
    height: 50px;
}
header h2{
    color: deeppink;
    background-color: white;
    font-size:50px;;
    font-family: fantasy;
}
img{
    width: 70px;
    padding:none;

}
video{
    width:1200px;
    padding-top:10px;
    padding-left: 25%;
}
form{
    padding-top:50px;
    padding-left: 0px;
    padding-bottom: 0;
}
#header section:first-child{
    float:right;
}
#nav-bar{
    padding:10px;
    
}
#nav-bar a{
    color:black;
    padding:10px;   
}
#nav-bar a:visited{
    color:purple;
}
#nav-bar a:hover{
    color:white;
    background-color: rgba(14, 13, 14, 0.814);
}
#nav-bar ul{
    list-style-type: none;
    float:left;
    display: flex;
    flex-direction:row;
    padding: 5px;
    margin:0;    
}
#nav-bar li{
    font-size: x-large;
    float:left;
    padding:10px;    
}
main{
    display: flex;
    flex-direction: column;
}
main h1{
    background-color: rgba(172, 107, 233, 0.515);
    font-size: 60px;
}
main div{
    font-size: 30px;
}
main div{
    font-size: 25px;
}
main div:last-child span{
    font-size: 35px;
    color: purple;
    padding-left: 150px;
    text-decoration: underline;
}
footer{
    background-color: rgba(169, 169, 169, 0.792);
    text-align: center;
    font-size: 30px;
}
#qSol span{
    font-size:35;
    text-decoration: underline solid black; 
}
@media (max-width:900px){
    header{
        display: flex;
        flex-direction:column;
        text-align: center;
    }
    header ul li{
        float: none;
        display: flex;
        flex-direction: column;
        padding: 3px 0px;
        text-align: center;
    }
}
@media (max-width:500px){
    body{
        display: block;
        text-align: center;
    }
}


